#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Randovania
Exec=AppRun
Comment=A randomizer platform for a multitude of games
Icon=org.randovania.randovania
Categories=Game;
