# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
randovania/version.py

# virtualenv
.venv
/venv*/