# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
    skip: [qtui]

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.8
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format

-   repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

-   repo: local
    hooks:
      - id: qtui
        name: qtui
        language: system
        entry: uv run tools/uic_wrapper.py --git-add
        files: .*\.ui$
        stages: [pre-commit, manual]
        require_serial: true
