[build-system]
requires = [
    "setuptools>=58.0.0",
    "setuptools_scm>=3.4.3",
    "pyqt-distutils>=0.7.3",
    "wheel>=0.37.0",
    "dulwich",
]
build-backend = "setuptools.build_meta"

[tool.ruff]
line-length = 120

ignore = [
    "F405",  # star import, using in pseudo-ppc assembly
]