# Setup.py requirements
aiofiles==0.4.0
appdirs==1.4.3
asyncqt==0.7.0
requests==2.22.0
networkx==2.3
num2words==0.5.10
bitstruct==7.1.0
construct==2.9.45
nod==1.1.1
PySide2==5.12.0
tenacity==5.0.4
pytest==4.5.0
pytest-cov==2.7.1
pytest-qt==3.2.2

# Dependencies
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
decorator==4.4.0
docopt==0.6.2
idna==2.8
more-itertools==7.0.0
networkx==2.3
pluggy==0.11.0
py==1.8.0
shiboken2==5.12.0
six==1.12.0
urllib3==1.25.3

# Everything in install_requires not listed here
markdown==3.1.1
PyInstaller==3.4
pyqt-distutils==0.7.3
setuptools>=38.6.0
twine==1.13.0
wheel>=0.31.0
