bleach==3.2.1
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
docutils==0.16
idna==2.10
importlib-metadata==3.1.0
keyring==21.5.0
packaging==20.4
pkginfo==1.6.1
Pygments==2.7.2
pyparsing==2.4.7
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.54.0
twine==3.2.0
urllib3==1.26.2
webencodings==0.5.1
zipp==3.4.0
