aiofiles==0.8.0
aiohttp==3.7.4.post0
altgraph==0.17.2
appdirs==1.4.4
async-timeout==3.0.1
async-wiiload==1.0.0
atomicwrites==1.4.0
attrs==21.4.0
bidict==0.21.4
bitstruct==8.12.1
cachetools==5.0.0
cave-story-randomizer==1.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
construct==2.10.67
coverage==6.3.1
cryptography==36.0.1
cycler==0.11.0
Cython==0.29.28
decorator==5.1.1
discord-py-interactions==3.0.2
discord.py==1.7.3
dnspython==2.2.0
docopt==0.6.2
dolphin-memory-engine==1.1.1
dulwich==0.20.32
eventlet==0.33.0
Flask==2.0.3
Flask-Discord==0.1.68
Flask-SocketIO==5.1.1
fonttools==4.29.1
frozendict==2.3.0
future==0.18.2
graphviz==0.19.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.1
iniconfig==1.1.1
ips.py==0.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
kiwisolver==1.3.2
lupa==1.10
lzokay==1.0.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
mercury-engine-data-structures==0.13.0
mock==4.0.3
mp2hudcolor==1.0.11
multidict==6.0.2
networkx==2.6.3
nod==1.6.0
numpy==1.22.2
oauthlib==3.2.0
open-dread-rando==0.11.1
packaging==21.3
peewee==3.14.9
pefile==2021.9.3
pid==3.0.4
Pillow==9.0.1
pluggy==0.13.1
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
psutil==5.9.0
py==1.11.0
py-randomprime==0.7.39
pycparser==2.21
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyJWT==2.3.0
pyparsing==3.0.7
pypresence==4.2.0
pyqt-distutils==0.7.3
pyqtdarktheme==1.1.0
pyrsistent==0.18.1
PySide2==5.15.2.1
pytest==7.0.1
pytest-asyncio==0.18.1
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-qt==4.0.2
python-dateutil==2.8.2
python-engineio==4.3.1
python-slugify==6.0.1
python-socketio==5.5.2
pywin32-ctypes==0.2.0
qasync==0.23.0
requests==2.27.1
requests-oauthlib==1.3.1
retro-data-structures==0.8.0
shiboken2==5.15.2.1
six==1.16.0
SuperDuperMetroid==2.3.0
tenacity==8.0.1
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tsc-utils==0.2.3
typing-extensions==4.1.1
urllib3==1.26.8
websockets==10.1
Werkzeug==2.0.3
yarl==1.7.2
zipp==3.7.0
