# Setup.py requirements
PySide2==5.12.0
appdirs==1.4.3
nod>=1.1
requests==2.21.0
networkx==2.2
bitstruct==6.0.0
pytest==3.10.1
pytest-cov==2.6.0
pytest-qt==3.2.2

# Everything in install_requires not listed here

markdown==3.0.1
PyInstaller==3.4
pyqt-distutils==0.7.3
setuptools>=38.6.0
twine==1.12.1
wheel>=0.31.0
