{% extends "layout.html.jinja" %}

{% block title %}
	{{ status_message }}
{% endblock %}

{% block header %}
	{{ status_message }}
{% endblock header %}

{% block content %}
	<table class="main-content__body" data-lead-id="main-content-body">
		<thead>
			<td>Type</td>
			<td>Location</td>
			<td>Message</td>
		</thead>
		<tbody>
		{% for err in errors %}
			<tr>
				<td>{{ err.type }}</td>
				<td>{{ err.loc }}</td>
				<td>{{ err.msg }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content %}
