[Desktop Entry]
Version=1.0
Name=Randovania
GenericName=Randovania
Comment=A randomizer platform for a multitude of games.
Exec=randovania
StartupNotify=true
Terminal=false
Icon=io.github.randovania.Randovania
Type=Application
Categories=Game
