name: Benchmark

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  benchmark:
    runs-on: 'ubuntu-latest'
    name: Benchmark

    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.11"
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Apt
        run: sudo apt-get -q update && sudo apt-get -y install $(cat .github/linux_apt_dependencies.txt)

      - name: Install Python packages
        run: uv sync --frozen --extra exporters --extra gui --extra server --extra test

      - name: run pytest (benchmark)
        uses: CodSpeedHQ/action@v3
        with:
          run: uv run pytest -n auto --codspeed --codspeed-mode=walltime --codspeed-max-rounds=1 --skip-gui-tests
          token: ${{ secrets.CODSPEED_TOKEN }}
