name: Daily Test Generate

on:
  workflow_dispatch:
    inputs:
      game:
        description: 'Which game to generate for'
        type: choice
        options:
          - cave_story
          - dread
          - prime1
          - prime2

  schedule:
    - cron: '0 16 * * 3'  # Cave Story
    - cron: '0 23 * * *'  # Dread
    - cron: '0 16 * * 2'  # Prime 1
    - cron: '0 16 * * 1'  # Prime 2

jobs:
  report:
    runs-on: self-hosted
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Create venv
        run: python3.11 -m venv venv

      - name: Install core Python packages
        run: venv/bin/python -m pip install --upgrade -r requirements-setuptools.txt

      - name: Install Python packages
        run: venv/bin/python -m pip install -c requirements.txt -e .[server]

      - name: Bulk Generate (Cave Story)
        run: venv/bin/python tools/bulk_generate_for_discord.py --game cave_story
        if: inputs.game == 'cave_story' || github.event.schedule == '0 16 * * 3'
        env:
          WEBHOOK_URL: ${{ secrets.CAVE_STORY_DEV_TALK_WEBHOOK }}

      - name: Bulk Generate (Dread)
        run: venv/bin/python tools/bulk_generate_for_discord.py --game dread
        if: inputs.game == 'dread' || github.event.schedule == '0 23 * * *'
        env:
          WEBHOOK_URL: ${{ secrets.DREAD_DEV_TALK_WEBHOOK }}

      - name: Bulk Generate (Prime 1)
        run: venv/bin/python tools/bulk_generate_for_discord.py --game prime1
        if: inputs.game == 'prime1' || github.event.schedule == '0 16 * * 2'
        env:
          WEBHOOK_URL: ${{ secrets.PRIME_DEV_TALK_WEBHOOK }}

      - name: Bulk Generate (Echoes)
        run: venv/bin/python tools/bulk_generate_for_discord.py --game prime2
        if: inputs.game == 'prime2' || github.event.schedule == '0 16 * * 1'
        env:
          WEBHOOK_URL: ${{ secrets.ECHOES_DEV_TALK_WEBHOOK }}


  notify_failure:
    runs-on: ubuntu-latest
    needs: report
    if: ${{ failure() }}
    steps:
      - name: Alert Failure
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.GENERAL_TALK_WEBHOOK }}
          nodetail: true
          title: Bulk Generation failed!
          description: |
            [Daily Bulk Generation failed for `${{ github.ref_name }}`](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})