name: Weekly Trick Documentation Report

on:
  workflow_dispatch:

  schedule:
    #        ┌────────── minute (0 - 59)
    #        │  ┌────────── hour (0 - 23)
    #        │  │ ┌────────── day of the month (1 - 31)
    #        │  │ │ ┌────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '0 18 * * 5'  # Every Friday, at 18:00 UTC

jobs:
  report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Workaround for worktree config
        run: git config --unset-all extensions.worktreeConfig || true

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.11"
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install Python packages
        run: uv sync --extra server

      - name: Post Report
        run: uv run --with discord tools/trick_documentation_report.py reports/
        env:
          WEBHOOK_URL: ${{ secrets.GENERAL_TALK_WEBHOOK }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          if-no-files-found: error
          path: reports/

  notify_failure:
    runs-on: ubuntu-latest
    needs: report
    if: ${{ failure() }}
    steps:
      - name: Alert Failure
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.GENERAL_TALK_WEBHOOK }}
          nodetail: true
          title: Trick Documentation Report failed!
          description: |
            [Weekly Trick Documentation Report failed for `${{ github.ref_name }}`](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
